*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;

    width: 100%;
    height: 100%;
}
.container{
    background-color: white;
    margin: 15px auto;
    padding: 20px;
    width: 80%;
    width: 800px;
    /* height: 100%; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
}
h1{
    color: rgb(76, 75, 75);
   text-align: center;
   margin: 18px;
}
label{
    display: block;
    margin: 10px auto;
    font-size: 16px;
    color:  rgb(58, 58, 58);

}
select, input[type="date"], input[type="number"] {
    width: 100%;
    padding:12px 9px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid rgb(217, 214, 214);
    font-size: 17px;
}

button{
    display: block;
    margin: 20px auto;
    width: 100%;
    padding: 12px ;
    background-color: #3498db;
font-size: 18px;
color: white;
    border: none;
    border-radius: 5px;
}
button:hover{
    background-color: #2075ae;
    
}


